menu "Bluetooth Flash Programmer"

config BT_NAME
    string "Bluetooth Name"
    default "Bluetooth Flash Programmer"

config BT_SPP_SERVER_NAME
    string "SPP Server Name"
    default "MTD"

config SPI_CS_PIN
    int "SPI CS Pin"
    default 15

config SPI_SCLK_PIN
    int "SPI SCLK Pin"
    default 14

config SPI_MOSI_PIN
    int "SPI MOSI Pin"
    default 13

config SPI_MISO_PIN
    int "SPI MISO Pin"
    default 12
endmenu
